{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block titulo %}{% endblock %}</title>
    <!-- estilos al menu -->
    <link rel="stylesheet" href="{% static 'css/estiloNav.css' %}">

    <!-- boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <!-- estilos generales -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    
    <!-- Efecto a componentes -->
    <link href="{% static 'css/hover.css' %}" rel="stylesheet" media="all">
    
    <!-- estilo a las tarjeta de menu -->
    <link rel="stylesheet" href="{% static 'css/tarjeta.css' %}">
    
    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> -->
    

    <!-- Tipo de letra -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <!-- estilo iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body id="fondo-pagina">
    <header>
        <div class="p-5 text-center bg-image rounded-3" style="background-image: url('../assets/fondoMenu.png'); background-size: 100%;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                <div id="logo">
                <img src="{% static 'assets/Logo.png' %}" alt="logo">
                </div>                        
            <h4 class="mb-3">Probá y disfrutá de la mejor comida de Catamarca.</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <span class="nav-bar" id="btnMenu"><i class="fas fa-bars"></i> Menú</span>

        <nav class="main-nav">

            <ul class="menu" id="menu">
                
                <li class="menu__item"> <a href="../templates/index1.html" class="hvr-underline-from-center  menu__link hvr-icon-fade"><i class="hvr-icon fa-solid fa-house"></i> Inicio</a> </li>
                <li class="menu__item"> <a href="#" class="hvr-underline-from-center menu__link hvr-icon-fade" data-toggle="modal" data-target="#ventanaModalLogin"><i class="hvr-icon fa-solid fa-user"></i> Ingresar</a> </li>

                <li class="menu__item container-submenu"> 
                    <a href="#" class="hvr-icon-hang menu__link submenu-btn hvr-icon-fade"><i class="fa-solid fa-shop"></i> Menú <i class="hvr-icon fa-solid fa-angle-down"></i></a>
                    <ul class="submenu">
                        <li id="diabeticos" class="menu__item"><a id="enlacediabeticos" href="../templates/ListaDeMenu.html" class="hvr-icon-pulse menu__link"><i id="iconod" style="margin-right: 20" class="icono hvr-icon fa-solid fa-hand-point-right"></i><i class="fa-solid fa-heart"></i> Diabeticos</a></li>
                        <li id="celiacos" class="menu__item "><a id="enlaceceliacos" href="#" class="hvr-icon-pulse menu__link"><i id="icono" style="margin-right: 20" class="icono hvr-icon fa-solid fa-hand-point-right"></i><i class="fa-solid fa-bread-slice"></i> Celiacos</a></li>
                        <li id="vegetarianos" class="menu__item"><a href="#" id="enlacevegetarianos" class="hvr-icon-pulse menu__link"><i id="iconov" style="margin-right: 20" class="icono hvr-icon fa-solid fa-hand-point-right"></i><i class="fa-brands fa-envira"></i> Vegetariano</a></li>
                        <li id="generales" class="menu__item"><a id="enlacegenerales" href="#" class="hvr-icon-pulse menu__link"><i id="iconog" style="margin-right: 20" class="icono hvr-icon fa-solid fa-hand-point-right"></i><i class="fa-solid fa-burger"></i> Generales</a></li>
                    </ul>
                </li>

                <li class="menu__item"> <a href="#acerca-de-roti" class="hvr-underline-from-center menu__link hvr-icon-fade"><i class="hvr-icon fa-solid fa-circle-info"></i> Acerca de</a> </li>
                <li class="menu__item"> <a href="#footer" class="hvr-underline-from-center menu__link hvr-icon-fade"><i class="hvr-icon fa-solid fa-phone"></i> Contacto</a> </li>
                <li class="menu__item">
                    
                    <!-- <a id="carrito-menu" href="#" class="hvr-underline-from-center menu__link"><i class="hvr-icon fa-solid fa-cart-shopping"></i> Carrito</a>  -->
                </li>
                <li class="nav-item dropdown" id="carrito-menu">
                    <!-- PUEDO UZARLO CON UNA IMAGEN -->
                    <img src="{% static 'assets/carrito.png' %}" class="nav-link dropdown-toggle img-fluid" height="70px" width="70px" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></img>
                    
                    <!-- PUEDO UZARLO CON ETIQUETA A -->
                    <!-- <a href="#" class="nav-link dropdown-toggle hvr-underline-from-center menu__link" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false"><i class="hvr-icon fa-solid fa-cart-shopping"></i> Carrito</a> -->
                    
                    <!-- CARRITO DE COMPRAS -->
                    <div id="carrito" class="dropdown-menu" aria-labelledby="navbarCollapse">
                        <table id="lista-carrito" class="table text-center">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <a href="#" id="vaciar-carrito" class="btn btn-danger btn-block">Vaciar Carrito</a>
                        <a href="#" id="procesar-pedido" class="btn btn-success btn-block">Realizar Pedido</a>
                    </div>
                </li>
            </ul>

        </nav>


    </header>
<!-- 
    <div class="slider">
        Jumbotron presentacion
    <ul>
        <li><img src="{% static 'assets/1.png' %}" alt=""></li>
        <li><img src="{% static 'assets/2.png' %}" alt=""></li>
        <li><img src="{% static 'assets/3.png' %}" alt=""></li>
        <li><img src="{% static 'assets/4.jpg' %}" alt=""></li>
    </ul>
    </div>
-->
    <div id="presentacion" class="jumbotron bg-jumbotron d-flex flex-column justify-content-center align-items-center text-white text-center">
        
        <h1 class="display-3 text-capitalize w-70">BIENVENIDOS AL MEJOR SABOR</h1>
        <p class="lead w-75">Proba todas las delicias que tenemos para vos, en los diferentes rubros de comidas. Vegetariana, Celiaca, para Diabeticos y comidas en general. 
                    todo, todo lo que buscas lo encontra <a href="#">aqui</a>, en "EL BUEN GUSTO ROTISERIA".
                    ¡Hace tu pedido! y aprovecha todos los descuentos que tenemos para vos. &#128521 
                </p>
        <hr class="my-4 bg-dark">
        
        <div class="row">
            <div class="col-md-auto">
                <a id="explorar" class="boton-explorar hvr-wobble-vertical" href="#menu-tarjeta" role="button">Explorar menu</a>
                <a class="boton-registrar hvr-pulse-grow" data-toggle="modal" data-target="#ventanaModalLogin" href="#" role="button">Ingresar</a>
            </div>
        </div>
    </div> 

   <!--     
     Seccion de Platos 
    <div class="contenedor">
        
        <section id="menu-tarjeta" style="background-image: url('../assets/fondocuerporotiseria.jpg'); background-size: 100%; padding: auto; margin: 0px;">
        
            <div class="text-center mb-3">
                <h2 class="hvr-grow-shadow titulo-promociones mb-2">PROMOCIONES</h2><br>
                <h3 class="hvr-float-shadow titulo-platos">Platos del día</h3>
            </div>

            <div class="container mb-5 mt-3" id="lista-productos">

                <div class="wrap column-4 columns mt-3">
    
                    <div class="tarjeta-rest hvr-glow"style="background: url(../assets/despensa.jpg) center; background-size: cover;" >
                        <img src="../assets/despensa.jpg" class="img-tarjeta"></img>
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <a class="btn btn-success hvr-grow agregar-carrito" data-id="1"> <i class="fa-solid fa-cart-plus"></i> Añadir</a>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>



                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <img src="../assets/despensa.jpg" class="img-tarjeta"></img>
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Milanesa </h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$800</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <a class="btn btn-success hvr-grow agregar-carrito" data-id="2"> <i class="fa-solid fa-cart-plus"></i> Añadir</a>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Pizza</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$750</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <a class="btn btn-success hvr-grow agregar-carrito" data-id="3"> <i class="fa-solid fa-cart-plus"></i> Añadir</a>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de choclo</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <a class="btn btn-success hvr-grow agregar-carrito" data-id="4"> <i class="fa-solid fa-cart-plus"></i> Añadir</a>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrap column-4 columns mt-3">
    
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrap column-4 columns mt-3">
    
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrap column-4 columns mt-3">
    
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wrap column-4 columns mt-3">
    
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="wrap column-4 columns mt-3">
    
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tarjeta-rest hvr-glow" style="background: url(../assets/despensa.jpg) center; background-size: cover;">
                        <div class="wrap-text_tarjeta-rest">
                            <h3 class="titulo_tarjeta text-center">Tarta de verduras</h3>
                            <p>¡Hecha para que la disfrutes con mucho sabor!
                                <div class="cta-wrap_tarjeta-rest">
                                    <div class="precio_tarjeta-rest">
                                        <span class="hvr-glow">$500</span>
                                    </div>   
                                </div>
                            </p>
                            <div class="botones-tarjeta">
                                <button class="btn btn-success hvr-grow"><i class="fa-solid fa-cart-plus"></i> Añadir</button>
                                <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
    </div>
-->
    <!-- Jumbotron acerca de -->    
    <div class="container mt-10">   
        <div class="jumbotron"id="acerca-de-roti" >
            <div class="row"> 
                <div class="col-md-6 img">
                    <img class="img-jumbutrom" src="{% static 'assets/jumbotrom.jpg' %}" alt="">
                </div>
                <div class="col-md-6">
                    <span class="nosotros">Nosotros</span>
                    <!-- <h1 class="display-4 h4-jumbotron">¿Quienes somos?</h1> -->
                    <h2>Rotiseria "El mejor sabor"</h2>
                    <p class="lead">La rotiseria el mejor sabor nació en 2020 cuando Lucas Zarate se quedo sin trabajo jaja Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde in est reprehenderit neque beatae quibusdam consequuntur nemo eaque eligendi porro earum, voluptatem, ut eos quasi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae nemo veritatis impedit repellendus et obcaecati cum excepturi quo corporis, minima sed reiciendis quod, nam veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur!</p>
                    <hr class="my-4 bg-dark">
                </div>
            </div>
        </div>
    </div>

    <!-- Seccion Modal Ingredientes -->
    <section>
        <div class="modal" tabindex="-1" role="dialog" id="ventanaModalInfo">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Tarta de Verduras</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="card col-auto">
                        <h4>Ingredientes: </h4>
                        <ul>
                            <li>Acelga</li>
                            <li>Cebolla</li>
                            <li>Zanahoria</li>
                            <li>Aceite de oliva</li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </section>

    <!-- Seccion Login -->
    <section id="seccion-login">
        <div class="modal fade" id="ventanaModalLogin" tabindex="-1" role="dialog" aria-labelledby="titulo-ventana" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="titulo-ventana" class="text-center">Login</h5>
                        <button class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="card col-auto p-3 formulario"> 
                            <div class="mb-2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <div class="col-auto mb-2">
                                            <label><i class="fa-solid fa-user"></i> Usuario</label>
                                            <input type="text" class="form-control mb-2 text-center" name="usuario" id="usuario-login" required placeholder="Ingrese su usuario">
                                        </div>
                                        <div class="col-auto mb-2">
                                            <label><i class="fa-solid fa-lock"></i> Contraseña</label>
                                            <input type="password"  class="form-control mb-2 text-center" name="password" id="password-login" required placeholder="Ingrese su contraseña">
                                                
                                        </div>
                                    </fieldset>
                                </form>
                          </div>
                        </div>
                        <div class="alert alert-danger">
                            <h6> <strong>Usuario y/o contraseña incorrecta</strong></h6>
                        </div>

                    </div>
            
                    <div class="modal-footer">
                        <a href="#">¿olvidaste tu contraseña?</a>
                        <span><a href="../templates/CrearUsuario.html" class="btn btn-warning"><i class="fa-solid fa-user-plus"></i>Registrar</a></span>
                        <button class="btn btn-success" type="button">INGRESAR</button>
                    </div>
                </div>
                
            </div>    
        </div>
    </section>

    <a href="#fondo-pagina" id="boton-arriba"><i class="fa-solid fa-circle-up"></i></a>

    <!-- Pie de página -->
    <footer class="bg-dark text-center text-white contacto mt-5" id="footer">
        <!-- Grid container -->
        <div class="container p-4">
            
            <div class="mb-4">
                <h5>En esta WebApp podras disfrutar de diferentes funcionalidades.</h5>
            </div>

            <h6>Comunicate con nosotros</h6>
            <div class="mb-4">
            
                <!-- WhatsApp -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"></i>
                    <img src="{% static 'assets/bxl-whatsapp.svg'" alt="">
                </a>
                <!-- Telefono -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"></i>
                    <img src="{% static 'assets/telefono.png' %}" alt="">
                </a>
                
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"></i>
                    <img src="{% static 'assets/bxl-facebook.svg' %}" alt="">
                </a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"></i>
                    <img src="{% static 'assets/bxl-twitter.svg' %}" alt="">
                </a>

                <!-- Instagram -->
                <a class=" btn btn-outline-light btn-floating m-1" href="#!" role="button"></i>
                    <img src="{% static 'assets/bxl-instagram.svg' %}" alt="">
                </a>

            </div>
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white" href="#">softwareTecno.com.ar</a>
          <p>Catamarca-Argentina</p>
        </div>
        <!-- Copyright -->
    </footer>

    

    <script src="{% static 'js/Menu.js' %}"></script>
    <script src="{% static 'js/botonArriba.js' %}"></script>
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- script iconos -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.js" integrity="sha512-8XtSBQOB+R4dpcpQBpYC5Q7ti7y/MjIF0l/1ZiSd4xM04Dr052S/Py981Pzmwo2HrXCR2JhYE1MYR15aZGMnig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Alerts -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>