{% extends "base/baseAdministrador.html" %}
{% block titulo %}Detalle de Persona{% endblock %}
{% block contenido %}
{% load static %}
    
    <section class="container">
        <h2 class="text-center mt-3">ESTADISTICAS</h2>

        <label for="fecha">Seleccione la fecha de la que desea ver las ventas diarias</label><br>
        <input type="date" id="fecha">
        <br><br>
        <div class="table-responsive">
            <table id="ventasdiarias" class="table table-dark">
                <thead>
                    <tr>
                        <!-- <th scope="col">Imagen</th> -->
                        <th scope="col">Codigo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora desde</th>
                        <th scope="col">Hora hasta</th>
                        <th scope="col">Estado entrega</th>
                        <th scope="col">Plato</th>
                    </tr>

                </thead>
                <tbody class="body">
                    {% for p in estadistica%}
                    {% if p.estado_entrega.descripcion_estado == 'Entregado' %}
                        <tr>
                            <td>{{p.cod_pedido}}</td>
                            <td>{{p.fecha_pedido}}</td>
                            <td>{{p.hora_entrega_desde}}</td>
                            <td>{{p.hora_entrega_hasta}}</td>
                            <td>{{p.estado_entrega}}</td>
                            <td> 
                            {% for pl in p.platos.all %}
                            {{pl.precio_plato}}

                            {% endfor%}

                            </td>
                           
                        </tr>

                    {% endif%}
                    {% endfor%}

                
                </tbody>
            </table>

            <!-- <table id="ventasdiarias" class="table table-striped table-bordered bg-white table-hover text-center">
                <caption>Listado de ventas diarias </caption>
                <thead class="table-primary color-tabla-text">
                    <tr>
                        <th>Cantidad de pedidos</th>
                        <th>Enviados por el cadete</th>
                        <th>Retirado por el cliente</th>
                        <th>Monto de Ventas</th>
                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10</td>
                        <td>5</td>
                        <td>5</td>
                        <td>1000</td>
                    </tr>
                    
                    <tr>
                        <td>20</td>
                        <td>5</td>
                        <td>5</td>
                        <td>2000</td>
            
                    </tr>
            
                    <tr>
                        <td>30</td>
                        <td>5</td>
                        <td>5</td>
                        <td>3000</td>
            
                    </tr>

                </tbody>
            </table>  -->
            
            
            <label>Seleccione el cadete del que desea ver sus pedidos</label><br>
            <input list="nombre" placeholder="Ingrese el cadete">  
            <datalist id="nombre">
                <option value="" selected>Seleccione</option>
                <td>
                    {% for c in cadetes %}
                    <option value="{{c.id}}">{{c.apellido}}</option>
                    
                    {%endfor%}
                </td>
            </datalist>
          <input type="button" class="btn btn-dark" value="Buscar">
</div>

        <!-- grafica Barras -->
        <!-- <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4 mt-3">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Gráfico de Area
                    </div>
                    <div class="card-body">
                        
                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

                    </div>
                </div>
            </div> -->

        <div class="table-responsive">
            <table id="entregadasporcadete" class="table table-striped bg-white table-bordered table-hover text-center">
                <caption>Listado de cantidades entregadas por determinado cadete </caption>
                <thead class="table-primary color-tabla-text">
                    <tr>
                        <th>Mes</th>
                        <th>Cantidad de pedidos</th>
                        <th>Año</th>
                        <th>Cantidad total de envios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Enero</td>
                        <td>20</td>
                        <td>2020</td>
                        <td>30</td>
            
                    </tr>
                    
                    <tr>
                        <td>Febrero</td>
                        <td>20</td>
                        <td>2020</td>
                        <td>30</td>
            
                    </tr>
            
                    <tr>
                        <td>Marzo</td>
                        <td>20</td>
                        <td>2020</td>
                        <td>30</td>
            
                    </tr>
            
                </tbody>
            </table>
        </div>

        <!-- grafica Torta -->
        <div>

        </div>

    </section>
    <script src="{% static 'js/Estadistica.js' %}"></script>

{% endblock %}