{% extends "pedido/promociones.html" %}
{% block titulo %}Home{% endblock %}
{% block contenido %}
{% load static %}

    <!-- Presentacion -->
    <div id="presentacion" class="jumbotron bg-jumbotron d-flex flex-column justify-content-center align-items-center text-white text-center">
        
        <h1 class="display-3 text-capitalize w-70 titulo-promociones ">BIENVENIDOS AL MEJOR SABOR</h1>
        <p class="lead w-75 titulo-presentacioncls">Proba todas las delicias que tenemos para vos, en los diferentes rubros de comidas. Vegetariana, Celiaca, para Diabeticos y comidas en general. 
                    todo, todo lo que buscas lo encontraras <a href="#">aqui</a>, "EL BUEN GUSTO ROTISERIA".
                    ¡Hace tu pedido! y aprovecha todos los descuentos que tenemos para vos. &#128521 
                </p>
        <hr class="my-4 bg-dark">
        
        <div class="row">
            <div class="col-md-auto">
                <a id="explorar" class="boton-explorar hvr-wobble-vertical" href="{% url 'Pedido:promociones' %}" role="button">Explorar menu</a>
                <a class="boton-registrar hvr-pulse-grow" data-toggle="modal" data-target="#ventanaModalLogin" href="#" role="button">Ingresar</a>
            </div>
        </div>
    </div>
    
    
    <!-- slaider -->
    <div class="slider">
        <ul>
            <li><img src="{% static 'assets/1.png' %}" alt=""></li>
            <li><img src="{% static 'assets/2.png' %}" alt=""></li>
            <li><img src="{% static 'assets/3.png' %}" alt=""></li>
            <li><img src="{% static 'assets/4.jpg' %}" alt=""></li>
        </ul>
    </div>

    <!-- Jumbotron acerca de -->    
    <div class="container mt-10">   
        <div class="jumbotron"id="acerca-de-roti" >
            <div class="row"> 
                <div class="col-md-6 img">
                    <img class="img-jumbutrom" src="{% static 'assets/jumbotrom.jpg' %}" alt="">
                </div>
                <div class="col-md-6">
                    <span class="nosotros">Nosotros</span>
                    <!-- <h1 class="display-4 h4-jumbotron">¿Quienes somos?</h1> -->
                    <h2>Rotiseria "El mejor sabor"</h2>
                    <p class="lead">El mejor saber te ofrece la mejor atención, calidad y repidez para sus compras. Unde in est reprehenderit neque beatae quibusdam consequuntur nemo eaque eligendi porro earum, voluptatem, ut eos quasi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae nemo veritatis impedit repellendus et obcaecati cum excepturi quo corporis, minima sed reiciendis quod, nam veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur!</p>
                    <hr class="my-4 bg-dark">
                </div>
            </div>
        </div>
    </div>
    
    <a href="#fondo-pagina" id="boton-arriba"><i class="fa-solid fa-circle-up"></i></a>

{% endblock %}