{% extends "base/baseCadete.html" %}
{% block titulo %}Home Cadete{% endblock %}
{% block contenido %}
{% load static %}

    <!-- Presentacion -->
    <div id="presentacion" class="jumbotron bg-jumbotron d-flex flex-column justify-content-center align-items-center text-white text-center">
        
        <h1 class="display-3 text-capitalize w-70 titulo-promociones ">BIENVENIDOS AL MEJOR SABOR</h1>
        <p class="lead w-75 titulo-presentacioncls">Proba todas las delicias que tenemos para vos, en los diferentes rubros de comidas. Vegetariana, Celiaca, para Diabeticos y comidas en general. 
                    todo, todo lo que buscas lo encontra <a href="#">aqui</a>, en "EL BUEN GUSTO ROTISERIA".
                    ¡Hace tu pedido! y aprovecha todos los descuentos que tenemos para vos. &#128521 
                </p>
        <hr class="my-4 bg-dark">
        
        
    </div>
    
    
   
    <!-- Jumbotron acerca de -->    
    <div class="container mt-10">   
        <div class="jumbotron"id="acerca-de-roti" >
            <div class="row"> 
                <div class="col-md-6 img">
                    <img class="img-jumbutrom" src="{% static 'assets/jumbotrom.jpg' %}" alt="">
                </div>
                <div class="col-md-6">
                    <span class="nosotros">Nosotros</span>
                    <!-- <h1 class="display-4 h4-jumbotron">¿Quienes somos?</h1> -->
                    <h2>Rotiseria "El mejor sabor"</h2>
                    <p class="lead">La rotiseria el mejor sabor nació en 2020 cuando Lucas Zarate se quedo sin trabajo jaja Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde in est reprehenderit neque beatae quibusdam consequuntur nemo eaque eligendi porro earum, voluptatem, ut eos quasi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae nemo veritatis impedit repellendus et obcaecati cum excepturi quo corporis, minima sed reiciendis quod, nam veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur!</p>
                    <hr class="my-4 bg-dark">
                </div>
            </div>
        </div>
    </div>
    
    <a href="#fondo-pagina" id="boton-arriba"><i class="fa-solid fa-circle-up"></i></a>

{% endblock %}