{% extends "base/base.html" %}

{% block titulo %}REALIZAR PEDIDO{% endblock %}
{% block contenido %}
{% load static %}


<div class="container">

    <div class="row mt-3">
            <div class="col">
                <h2 class="d-flex justify-content-center mb-3">Listado de compras</h2>
                <form action="{% url 'Pedido:procesarcompra' %}" method="post">{% csrf_token %}
                    {{ user.id }}
                    
                    <div id="carrito" class="form-group table-responsive" >
                        <table class="table bg-white" id="lista-compra" >
                            <thead>
                                <tr>
                                    <!-- <th scope="col">Imagen</th> -->
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Sub Total</th>
                                    <th scope="col">Eliminar</th>
                                </tr>

                            </thead>
                            
                            <tbody class="body">
                                    {% if request.session.carrito.items %} 
                                    {% for key, value in request.session.carrito.items %}
                                    <tr>
                                        <td>{{value.nombre}}</td>
                                        <td>{{value.precio}}</td>
                                        {% load bootstrap_icons %}
                                        <td>
                                            {{ value.cantidad }}
                                            <a href="{% url 'Pedido:subplato' value.plato_id %}" class="btn btn-secondary btn-sm" type="button"><i class="fa-solid fa-minus"></i></a>
                                            <a href="{% url 'Pedido:addplato' value.plato_id %}" class="btn btn-secondary btn-sm" type="button"><i class="fa-solid fa-plus"></i></i></a>
                                        </td>
                                        <td>{{value.subtotal}}</td>
                                        <td>
                                            <a href="{% url 'Pedido:delplato' value.plato_id %}"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    
                                {% endfor %} {% else %}
                                <tr>
                                    <td colspan="5">
                                        <div class="alert alert-danger text-center ">

                                            No se agregaron productos al carrito

                                        </div>
                                </tr>
                                </tr>
                                {% endif %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <th colspan="4" scope="col" class="text-right">SUB TOTAL :</th>
                                    <th scope="col">
                                        <p id="subtotal">${{ sub_total }}</p>
                                    </th>
                                    
                                </tr>
                                <tr>
                                    <th colspan="4" scope="col" class="text-right">IVA :</th>
                                    <th scope="col">
                                        <p id="iva">21%</p>
                                    </th>
                                    
                                </tr>
                                <tr>
                                    <th colspan="4" scope="col" class="text-right">TOTAL :</th>
                                    <th scope="col">
                                        <p>${{ importe_total }}</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="4" scope="col" class="text-right"></th>
                                    <th>
                                        <label for="tipo_pedido">Modalidad del pedido</label>
                                            <select id="tipo_pedido" class="form-control mb-2 text-center" required name="modo-entrega">
                                                <option value="" selected>Seleccione</option>
                                                <option value="1">Retiro</option> 
                                                <option value="2">Envio</option> 
                                            </select>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>


                    <div class="row justify-content-between">
                        <div class="col-md-4 mb-2">
                            <a href="{% url 'Pedido:promociones' %}" class="btn btn-info btn-block">Seguir comprando</a>
                        </div>
                        <div class="col-md-2 mb-2">
                            <a href="{% url 'Pedido:cls' %}" class="btn btn-danger btn-block">Cancelar</a>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <button class="btn btn-success btn-block" onclick="alertProcesarPedido()" type="submit">Realizar compra</button>
                            <!-- <a href="{% url 'Pedido:procesarcompra' %}" onclick="alertProcesarPedido()" class="btn btn-success btn-block">Realizar compra</a> -->
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
{% block js %}
    <script>
        function alertProcesarPedido() {
            Swal.fire({
            "title": "Felicitaciones!!!",
            "text": "Gracias por su compra.",
            "icon": "success"
        })
        }
    </script>
{% endblock %}
{% endblock %}
