{% extends "base/baseAdministrador.html" %}
{% block titulo %}Detalle de Persona{% endblock %}
{% block contenido %}

<h1 class="text-center" style="color: black;">Datos del pedido</h1>

<div class="d-flex justify-content-center">
    <div class="card col-sm-7 p-3 formulario"> 
        <div class="mb-2">
            
            <div class="message alert alert-success"> <strong>PEDIDO MODIFICADO</strong></div>
            <p><strong>Código : </strong> {{ pedido.cod_pedido }}</p>
            <p><strong>Fecha del pedido:</strong> {{ pedido.fecha_pedido }}</p>
            <p><strong>Platos:</strong> </p>
            <p><strong>Estado:</strong> {{ pedido.estado_entrega }}</p>
            <p><strong>Hora de entrega (aproximada):</strong> {{ pedido.hora_entrega_hasta}}</p>
            {{pedido.messages}}
            
            <form action="{% url 'Administrador' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ persona.id }}"> 
                <!-- <input class="btn btn-danger mb-2" type="submit" name="Eliminar" value="Eliminar" /> -->
                <a href="#" class="btn btn-danger">Eliminar</a>
                <a href="#" class="btn btn-warning">Modificar</a>
                <button class="btn btn-success" type="submit">Confirmar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}