{% extends "base/base.html" %}
{% block titulo %}Detalle del Plato{% endblock %}
{% block contenido %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}  <div class="message">{{ message }}</div>{% endif %}
    {% endfor %}
{% endif %}


<h1 class="text-center" style="color: black;">Datos del Plato</h1>

<div class="d-flex justify-content-center">
    <div class="card col-sm-7 p-3 formulario"> 
        <div class="mb-2">
            
            <div class="message alert alert-success"> <strong>PLATO MODIFICADO</strong></div>
            <p><strong>Nombre Plato: </strong>{{ plato.nombre_plato}}</p>
            <p><strong>Precio de plato: </strong> {{ plato.precio_plato}}</p>
            <p><strong>Tipo: </strong> {{ plato.tipo_plato}}</p>
            <p><strong>Especialidad: </strong>{{ plato.especialidad}}</p>
            <p>
              <strong>¿Esta en Promoción?: </strong>
              {% if  plato.estado_promocion == True %}
                SI
              {% else %}
                NO
              {% endif %}
              
            </p>
            <p>
              <strong>¿Esta Vigente?: </strong>
              {% if  plato.vigencia_plato == True %}
                SI
              {% else %}
                NO
              {% endif %}
              
            </p>
            
            {{plato.messages}}
            
            <form action="{% url 'Pedido:listademenus' %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ persona.id }}"> 
                <!-- <input class="btn btn-danger mb-2" type="submit" name="Eliminar" value="Eliminar" /> -->
                <a href="#" class="btn btn-danger">Eliminar</a>
                <a href="#" class="btn btn-warning">Modificar</a>
                <button class="btn btn-success" type="submit">Confirmar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}