{% extends "base/baseAdministrador.html" %}
{% block titulo %}Modificar Pedido{% endblock %}
{% block contenido %}


<h1 class="text-center" style="color: black;">Modificar Pedido</h1>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}  <div class="message">{{ message }}</div>{% endif %}
    {% endfor %}
{% endif %}
<div class="d-flex justify-content-center">
    <div class="card col-sm-7 p-3 formulario"> 
        <div class="mb-2">
            {{pedido.errors}}

            <form action="#" method="POST"> {% csrf_token %}
                <label for="for">Hora aproximada de entrega:</label>
                    <!-- {{pedido_form.hora_entrega_hasta}} -->




                <input type="hidden" name="id_plato" value="{{pedido.cod_pedido}}">
                <a href="#" data-toggle="modal" data-target="#ventanaModalPedido">pedido</a>
                <input class="btn btn-primary mb-2" type="submit" name="Enviar" value="INGRESAR DATOS" />
            </form>
        </div>
    </div>
</div>

<section id="seccion-pedido">
    <div class="modal fade" id="ventanaModalPedido" tabindex="-1" role="dialog" aria-labelledby="titulo-ventana" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 id="titulo-ventana" class="text-center">Datos del Pedido</h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true"></span>X</button>
                </div>
        
                <div class="modal-body">
                    <div class="card col-auto p-3 formulario"> 
                        <div class="mb-2">
                            <form action="#" method="post">
                                <fieldset>
                                    {{pedido_form}}
                                </fieldset>
                            </form>
                    </div>
                    </div>
                </div>
        
                <div class="modal-footer">
                    <span><a href="#" class="btn btn-warning">Cancelar</a></span>
                    <button class="btn btn-success" type="button">Guardar</button>
                </div>
            </div>
        </div>    
    </div>
</section>
{% endblock %}