{% extends "base/baseAdministrador.html" %}
{% block titulo %}Lista de Menus disponibles{% endblock %}

{% block contenido %}
{% load static %}   

<section>
    <div class="d-flex justify-content-center">
        <div class="card col-sm-7 p-3 formulario"> 
            <div class="mb-2">                
                <form action="" method="POST">{% csrf_token %}
                    <fieldset>
                        <legend class="text-center">MODIFICAR PLATO</legend>

                        {{plato_form}}

                        <div class="col-auto text-center">
                            <!-- <input class="btn btn-secondary" type="reset" name="cancelar" value="Cancelar" /> -->
                            <a href="{% url 'Pedido:listademenus' %}" class="btn btn-secondary" name="cancelar">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Modificar</button>
                        </div>


                    </fieldset>
                </form>
            </div>
        </div>
    </div>    
</section>

{% endblock %}