{% extends "base/baseAdministrador.html" %}
{% block titulo %}Lista de Menus disponibles{% endblock %}

{% block contenido %}
{% load static %}   

<!-- <section>
    <div class="d-flex justify-content-center">
        <div class="card col-sm-7 p-3 formulario"> 
            <div class="mb-2">
        <form action="#" method="POST">
            <fieldset>
                <legend class="text-center">INGRESE LOS DATOS</legend>
                {{menu_form.errors}}
                {% csrf_token %}
                <div class="col-auto mb-2">
                {{plato_form.as_p}}
                </div>
                
            </fieldset>
            <div class="col-auto text-center">
                <input class="btn btn-secondary mb-2" type="reset" name="cancelar" value="CANCELAR" />
                <input class="btn btn-primary mb-2" type="submit" name="Enviar" value="INGRESAR DATOS" />
            </div>
        </form>
    </div>    
    </div>  
</div>    

</section> -->


<section>
    <div class="d-flex justify-content-center">
        <div class="card col-sm-7 p-3 formulario"> 
            <div class="mb-2">
                
                <form action="#" method="POST">
                    <fieldset>
                        <legend class="text-center">MODIFICAR PLATO</legend>

                        <!-- Código -->
                        <div class="col-auto ">
                            <input type="hidden" class="form-control mb-2 text-center" name="codigo_plato" value="{{plato.codigo_plato}}"><br>
                        </div>
                        
                        <!-- Nombre del plato -->
                        <div class="col-auto ">
                            <label for="nomMenu">Nombre del Plato</label><br>
                            <input type="text" class="form-control mb-2 text-center" required placeholder="Ingrese Nombre" name="nombre_plato" value="{{plato.nombre_plato}}"><br>
                        </div>

                        <!-- Precio -->
                        <div class="col-auto ">
                            <label for="decripMenu">Precio</label><br>
                            <input type="number" class="form-control mb-2 text-center" required placeholder="Ingrese descripcion" id="decripMenu" name="precio_plato" value="{{plato.precio_plato}}"><br>
                        </div>
                        
                        <!-- Veigencia del plato -->
                        <div class="col-auto">
                            <label for="vigencia">Vigencia del menu </label>&nbsp;Si
                            <input type="radio" class="text-center" required id="vigencia" name="vigencia">&nbsp;No
                            <input type="radio" class="text-center" required id="vigenciano" name="vigencia"><br>
                        </div>
                        
                        <!-- Promoción del plato -->
                        <div class="col-auto">
                            <label for="promocion">Promoción </label>&nbsp;Si
                            <input type="radio" class="text-center" required id="promocion" name="promocion">&nbsp;No
                            <input type="radio" class="text-center" required id="promocion" name="promocion"><br>
                        </div>
                        
                        <!-- Tipo de menú -->
                        <div class="col-auto mb-2">
                            <label for="plato">Tipo de menu</label>
                            <select id="plato" class="form-control mb-2 text-center" required name="plato">
                                <option value="" selected>Seleccione</option>
                                <option value="1">Entrada</option> 
                                <option value="2">Plato Principal</option> 
                                <option value="3">Postre</option> 
                            </select><br/>
                            
                        </div>

                        <!-- Especialidad -->
                        <label for="tipoPlato">Especialidad</label>
                        <select id="tipoPlato" class="form-control mb-2 text-center" required name="tipoPlato">
                            <option value="" selected>Seleccione</option>
                            <option value="1">Normal</option> 
                            <option value="2">Vegetariano</option> 
                            <option value="3" >Celiaco</option> 
                            <option value="4">Diabetico</option> 
                        </select><br/><br/>
                        </div>

                        <div class="col-auto text-center">
                            <input class="btn btn-secondary mb-2" type="reset" name="cancelar" value="CANCELAR" />
                            <input class="btn btn-primary mb-2" type="submit" name="Enviar" value="INGRESAR DATOS" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>    
</section>

{% endblock %}