{% extends "base/baseAdministrador.html" %}
{% block titulo %}Modificar Pedido{% endblock %}
{% block contenido %}


<h1 class="text-center" style="color: black;">Modificar Pedido</h1>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}  <div class="message">{{ message }}</div>{% endif %}
    {% endfor %}
{% endif %}
<div class="d-flex justify-content-center">
    <div class="card col-sm-7 p-3 formulario"> 
        <div class="mb-2">
            {{pedido.errors}}

            <form action="#" method="POST"> {% csrf_token %}
                <label for="for">Hora aproximada de entrega:</label>
                {{pedido_form.hora_entrega_hasta}}

                <input type="hidden" name="id_plato" value="{{pedido.cod_pedido}}">
                <input class="btn btn-secondary mb-2" type="reset" name="cancelar" value="CANCELAR" />
                <input class="btn btn-primary mb-2" type="submit" name="Enviar" value="INGRESAR DATOS" />
            </form>
        </div>
    </div>
</div>
{% endblock %}