{% extends "base/base.html" %}
{% block titulo %}Promociones{% endblock %}

{% block contenido %}
{% load static %}


    <!-- Seccion de Platos  -->
    <div class="contenedor">
        
        <section id="menu-tarjeta" style="background-image: url('../assets/fondocuerporotiseria.jpg'); background-size: 100%; padding: auto; margin: 0px;">
            
            <!-- Titulp de Seccion -->
            <div class="text-center mb-3">
                <h2 class="hvr-grow-shadow titulo-promociones mb-2">PROMOCIONES</h2><br>
                <h3 class="hvr-float-shadow titulo-platos">Platos del día</h3>
            </div>
            
            <div class="container mb-5 mt-3" id="lista-productos">
                    <!-- fila -->
                    <div class="tarjeta-rest hvr-glow">
                        {% for p in platos %}
                        <div class="wrap-text_tarjeta-rest">
                                    <h3 class="titulo_tarjeta text-center">{{p.nombre_plato}} </h3>
                                    <p>¡Hecha para que la disfrutes con mucho sabor!
                                        <div class="cta-wrap_tarjeta-rest">
                                            <div class="precio_tarjeta-rest">
                                                <span class="hvr-glow">${{p.precio_plato}}</span>
                                            </div>   
                                        </div>
                                    </p>
                                    <div class="botones-tarjeta">
                                        <a class="btn btn-success hvr-grow agregar-carrito" data-id="{{p.codigo_plato}}"> <i class="fa-solid fa-cart-plus"></i> Añadir</a>
                                        <button class="btn btn-info hvr-grow" data-toggle="modal" data-target="#ventanaModalInfo"><i class="icono-plus fa-thin fa-plus"></i></button>
                                    </div>
                        </div>
                        {% endfor %}
                    </div>        
            
            </div>
        </section>
    </div>
    
    <a href="#fondo-pagina" id="boton-arriba"><i class="fa-solid fa-circle-up"></i></a>
{% endblock %}

