{%  extends 'base/baseAdministrador.html' %}
{% block titulo %}MODIFICAR EMPLEADOS{% endblock %}
{% load static %}
{% block contenido %}


    <div class="d-flex justify-content-center">
        <div class="card col-sm-7 p-3 formulario"> 
            <div class="mb-2">
                <form action="" method="post">
                    <fieldset>
                        <legend class="text-center"><span>MIS DATOS</span></legend>
                            {{form.errors}}
                            {% csrf_token %}
                            {{domicilio_cadete.errors}}
                            {{telefono_cadete.errors}}
                            {{cadete_form.errors}}

                            

                            <div class="col-auto mb-2">
                                <label  for="cuil">Cuil</label><br>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="fa-solid fa-signature hvr-icon form-control-feedback"></i>
                                        {{cadete_form.cuil}}
                                    </div>
                            </div>
                            <div class="col-auto">
                                <label  for="nombre">Nombre</label>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="fa-solid fa-signature hvr-icon form-control-feedback"></i>
                                        {{cadete_form.nombre}}
                                    </div>
                            </div>

                            <div class="col-auto">
                                <label for="">Apellido</label>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="fa-solid fa-user hvr-icon form-control-feedback"></i>
                                        {{cadete_form.apellido}}
                                    </div>                                        
                            </div>

                            <div class="col-auto mb-2">
                                <label for="fecha-nacimiento">Fecha de nacimiento</label>
                                {{cadete_form.fecha_nacimiento}}
                            </div>


                            <div class="col-auto mb-2">
                                <label for="correo">Mail</label>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="fa-regular fa-envelope form-control-feedback hvr-icon"></i>
                                        {{cadete_form.email}}
                                    </div>
                            </div>

                            <div class="col-auto mb-2">
                                {{telefono_cadete}}
                            </div>

                            <fieldset>
                                <legend>Domicilio</legend>
                                
                                <div class="col-auto">
                                    <label for="numero-calle">Numero de Calle</label><br>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="hvr-icon fa-solid fa-arrow-up-9-1 form-control-feedback"></i>
                                        {{domicilio_cadete.numero_calle}}
                                    </div> 
                                </div>

                                <div class="col-auto">
                                    <label>Calle</label><br>
                                        <div class="hvr-icon-pulse form-group has-feedback">
                                            <i class="fa-solid fa-road form-control-feedback hvr-icon"></i>
                                            {{domicilio_cadete.nombre_calle}}
                                        </div>
                                </div>

                                <div class="col-auto">
                                    <label>Barrios</label><br>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="hvr-icon fa-solid fa-street-view form-control-feedback"></i>
                                        {{domicilio_cadete.nombre_barrio}}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <label for="zona-domicilicio">Zona</label><br>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="hvr-icon fa-solid fa-street-view form-control-feedback"></i>
                                        {{domicilio_cadete.zona}}
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset><legend>Cadete</legend>
                                
                                <div class="col-auto">
                                    <label for="zona-domicilicio">Zona de trabajo</label><br>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="hvr-icon fa-solid fa-street-view form-control-feedback"></i>
                                        {{cadete_form.zona_trabajo}}
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <label for="vig-carnet">Vigencia del carnet</label>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="hvr-icon fa-regular fa-id-card form-control-feedback"></i>
                                        {{cadete_form.fecha_vigencia_carnet}}
                                    </div>
                                </div>
                                
                                <div class="col-auto">
                                    <label for="num-patente">Numero de la patente</label>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="hvr-icon fa-regular fa-id-card form-control-feedback"></i>
                                        {{cadete_form.numero_patente}}
                                    </div>    
                                </div>
                        
                                <div class="col-auto">
                                    <label for="fecha-trab">Fecha inicio al trabajo</label>
                                    <div class="hvr-icon-pulse form-group has-feedback">
                                        <i class="hvr-icon fa-regular fa-id-card form-control-feedback"></i>
                                        {{cadete_form.fecha_ingreso}}
                                    </div>
                                </div>
                            </fieldset>
                    </fieldset>
                    
                    <div class="col-auto text-center">
                        <input class="btn btn-secondary mb-2" type="reset" name="cancelar" value="CANCELAR" />
                        <input class="btn btn-primary mb-2" type="submit" name="Enviar" value="MODIFICAR DATOS" />
                    </div>
                </form>
                
            </div>
        </div> 
    </div>     

    <script src="{% static 'js/validar.js' %}"></script>
{% endblock contenido %}  
