{% extends 'base/base.html'%} 
{% block titulo %}CREAR USUARIO{% endblock %}

{% block contenido %}
{% load static %}

    <div class="d-flex justify-content-center mt-5">            
        <div class="card col-sm-7 p-3 formulario"> 
            <div class="mb-2">
                <form action="#" method="post">{% csrf_token %}

                    <br>
                    <div class="col-auto mb-2">
                        <label  for="nombre">(*) Nombre de usuario</label>
                        {{usuario.username}}
                    </div>
                    <div class="col-auto mb-2">
                        <label  for="nombre">(*) Contraseña</label>
                        {{usuario.password1}}
                    </div>
                    <div class="col-auto mb-2">
                        <label  for="nombre">(*) Confirmar contraseña</label>
                        {{usuario.password2}}
                    </div>
                    <br> 
                    {{persona_form.as_p}}
                    {{domicilio_form.as_p}}
                    {{zona_form.as_p}}
                    {{telefono_form.as_p}}

                    
                    <div class="col-auto text-center">
                        <input class="btn btn-danger mb-2" type="reset" name="cancelar" value="CANCELAR" />
                        <input class="btn btn-primary mb-2" type="submit" name="Enviar" value="INGRESAR DATOS" />
                    </div>
                </form>
            </div>
        </div> 
    </div>     
{% endblock %}

    

