{% extends "base/baseAdministrador.html" %}
{% block titulo %}DETALLE{% endblock %}
{% block contenido %}
{% if perms.Persona.view_persona %}
    <h1 class="text-center" style="color: black;">DATOS INGRESADOS</h1>

    <div class="d-flex justify-content-center">
        <div class="card col-sm-7 p-3 formulario"> 
            <div class="mb-2">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}  <div class="message alert alert-success">{{ message }}</div>{% endif %}
                    {% endfor %}
                {% endif %}
        
                <div class="message alert alert-warning"> <strong>PERSONA INGRESADA</strong></div>
                <p><strong>Nombre : </strong>{{ persona.nombre }}</p>
                <p><strong>Apellido:</strong> {{ persona.apellido }}</p>
                <p><strong>Fecha de Nacimiento:</strong> {{ persona.fecha_nacimiento}}</p>
                <p><strong>Email: </strong>{{ persona.email }}</p>
                <p><strong>Domicilio: </strong>{{ persona.domicilio }}</p>
                <p><strong>Telefono: </strong>{{ persona.telefono }}</p>
                {{persona.messages}}
                
                <form action="{% url 'Usuario:lista_de_personas' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ persona.id }}"> 
                    <!-- <input class="btn btn-danger mb-2" type="submit" name="Eliminar" value="Eliminar" /> -->
                    <a href="url 'Usuario:persona_delete'" class="btn btn-danger">Eliminar</a>
                    <a href="{% url 'Usuario:persona_edit' persona.id %}" class="btn btn-warning">Modificar</a>
                    <button class="btn btn-success" type="submit">Confirmar</button>
                </form>
            </div>
        </div>
    </div>

{% endif%}
{% endblock %}
