{% extends "base/base.html" %}
{% block titulo %}Detalle de Persona{% endblock %}
{% block contenido %}

<h1 class="text-center" style="color: black;">Persona: {{persona.messages}}
   {{ persona.nombre }}</h1>

<div class="d-flex justify-content-center">
    <div class="card col-sm-7 p-3 formulario"> 
        <div class="mb-2">
          {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}  <div class="message">{{ message }}</div>{% endif %}
    {% endfor %}
{% endif %}
<p><strong>Persona ingresada</strong></p>
<p>{{persona}}</p>
<p><strong>Nombre : </strong>{{ persona.nombre}}</p>
<p><strong>Apellido:</strong> {{ persona.apellido}}</p>
<p><strong>Fecha de Nacimiento:</strong>{{ persona.fecha_nacimiento}}</p>
<p><strong>Email:</strong>{{ persona.email}}</p>
<p><strong>Domicilio:</strong>{{ persona.domicilio}}</p>
<p><strong>Telefono :</strong>{{ persona.telefono}}</p>
{{persona.id}} 

{{persona.messages}}
{{messages}}
<form action="{% url 'Usuario:persona_delete' %}" enctype="multipart/form-data" method="POST">
  
 {% csrf_token %}
  <input type="hidden" name="id" value="{{ persona.id }}"> 
  <input class="btn btn-primary mb-2" type="submit" name="Eliminar" value="Eliminar datos" />
  <button class="btn btn-danger mb-2"><a href="{% url 'Usuario:RegistroDeClientes' %}">Confirmar</a></button>
</form>
</div>
    </div>
        </div>
{% endblock %}
