{%  extends 'base/baseAdministrador.html' %}
{% block titulo %}EMPLEADOS{% endblock %}
{% load static %}
{% block contenido %}

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h2 class="d-flex justify-content-center mb-3">Listado de empleados</h2>
           
              
            <div class="form-group row">
                <label for="cliente" class="col-form-label text-white">Buscar:</label>
                <div class="col-12 col-md-10">
        <form action="#" method="GET">
         <div id="custom-search-input">
                <input type="text" class="form-control" id="cadete" placeholder="Ingresa nombre de cadete" name="destinatario">
                <div class="input-group-">
                <i class="icon icon-search"></i>
                <button type="summit" class="btn btn-success" name="buscar" value="{{ request.POST.buscar }}">Buscar</button>                        

            </div>   
        </div>         
        </form>                    
            </div>
            </div>

                <div id="carrito" class="form-group table-responsive" >
                    <table class="table bg-white">
                        <thead>
                            <tr>
                                <!-- <th scope="col">Imagen</th> -->
                                <th scope="col">CUIL</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Fecha de ingreso</th>
                                <th scope="col">Fecha del carnet</th>
                                <th scope="col">Nro Patente</th>
                                <th colspan="2">Opciones</th>

                            </tr>
    
                        </thead>
                        <tbody class="body">
                            {% for e in cadetes %}
                                <tr>
                                    <td>{{e.cuil}}</td>
                                    <td>{{e.nombre}}</td>
                                    <td>{{e.apellido}}</td>
                                    <td>{{e.fecha_ingreso}}</td>
                                    <td>{{e.fecha_vigencia_carnet}}</td>
                                    <td>{{e.numero_patente}}</td>
                                    <td>
                                        <form method="post">
                                            {% csrf_token %}
                                        <button class="btn-sample btn btn-danger">Editar</button>
                                        <button class="btn btn-secondary">Eliminar</button>
                                       </form>
                                    </td>
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
    
    
    
        </div>
    
    
    </div>
</div>




{% endblock contenido %}  
