{%  extends 'base/baseAdministrador.html' %}
{% block titulo %}Empleados{% endblock %}
{% load static %}
{% block contenido %}

<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h2 class="d-flex justify-content-center mb-3">Listado de empleados</h2>
           
              
            <div class="form-group row">
                <label for="cliente" class="col-form-label text-white">Buscar:</label>
                <div class="col-12 col-md-10">
        <form action="#" method="GET">
            <div id="custom-search-input">
                <input type="text" class="form-control" id="cadete" placeholder="Ingresa nombre de cadete" name="buscar">
                <div class="input-group-">
                    <button type="summit" class="btn btn-success" name="buscar" value="{{ request.POST.buscar }}">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
                </div>   
            </div>         
        </form>                    
            </div>
            </div>

                <div id="carrito" class="form-group table-responsive" >
                    <table class="table bg-white">
                        <thead>
                            <tr>
                                <!-- <th scope="col">Imagen</th> -->
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Zona de trabajo</th>
                                <th scope="col">Fecha del carnet</th>
                                <th scope="col">Nro Patente</th>
                                <th colspan="2">Opciones</th>

                            </tr>
    
                        </thead>
                        <tbody class="body">
                            {% for e in cadetes %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="#" data-toggle="modal" data-target="#ventanaModalPedido">{{e.nombre}}</a></td>
                                    <td>{{e.apellido}}</td>
                                    <td>{{e.telefono}}</td>
                                    <td>{{e.zona_trabajo}}</td>
                                    <td>{{e.fecha_vigencia_carnet}}</td>
                                    <td>{{e.numero_patente}}</td>
                                    <td>
                                        <form action="{% url 'Usuario:cadete_delete' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_cadete" value="{{ e.id }}"> 
                                            <!-- Editar -->
                                            <a href="{% url 'Usuario:editar_cadete'  e.id  %}" class="btn btn-warning"><i class="fa-solid fa-file-pen"></i></a>
                                            
                                            <!-- Eliminar -->
                                            <button type="summit" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                        </form>
                                    </td>
                                </tr>

                                <section id="seccion-pedido">
                                    <div class="modal fade" id="ventanaModalPedido" tabindex="-1" role="dialog" aria-labelledby="titulo-ventana" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                
                                                <div class="modal-header">
                                                    <h5 id="titulo-ventana" class="text-center">Datos del Cliente</h5>
                                                    <button class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true"></span>X</button>
                                                </div>
                                        
                                                <div class="modal-body">
                                                    <div class="card col-auto p-3 formulario"> 
                                                        <div class="mb-2">
                                                            <form action="#" method="post">
                                                                <fieldset>
                                                                    
                                                                    <div class="col-auto mb-2">
                                                                        <label class="form-text">Cuil: <span> {{ e.cuil }} </span></label>                                                
                                                                    </div>
        
                                                                    <div class="col-auto mb-2">
                                                                        <label class="form-text">Nombre: <span> {{ e.nombre }} </span> </label>
                                                                    </div>
                                        
                                                                    <div class="col-auto mb-2">
                                                                        <label class="form-text">Apellido: <span> {{ e.apellido }} </span></label>                                                
                                                                    </div> 
                                                                    <div class="col-auto mb-2">
                                                                        <label class="form-text">Domicilio: <span> {{ e.domicilio }} </span></label>
                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                    </div>
                                                    </div>
                                                </div>
                                        
                                                <div class="modal-footer">
                                                    <span><a href="#" class="btn btn-warning">Cancelar</a></span>
                                                    <button class="btn btn-success" type="button">Guardar</button>
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </section>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
    
    
    
        </div>
    
    
    </div>
</div>




{% endblock contenido %}  
