{%  extends 'base/base.html' %}
{% load static %}
{% block contenido %}


    <div class="d-flex justify-content-center">
        <div class="card col-sm-7 p-3 formulario"> 
            <div class="mb-2">
                <!--<div class="abs-center">-->
                <form id="formulario-pedido" action="#" method="post">
                        <fieldset>
                        <legend class="text-center"><span>INGRESE LOS DATOS</span></legend>
                        {{form.errors}}
                        
                        {{form.numero}}
                        {{form.telefono}}
                        {{form.numero_calle}}
                        {{form.nombre_calle}}
                        {{form.nombre_barrio}}
                        {{form.descripcion_zona}}

                        <!-- {% for field in form %}
                         <div class="campo">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        </div><br>
                         {% endfor %} -->
                        <div class="col-auto mb-2">
                            <label  for="cuil">Cuil</label><br>
                                <div class="hvr-icon-pulse form-group has-feedback">
                                    <i class="fa-solid fa-signature hvr-icon form-control-feedback"></i>
                                {{form.cuil}}  
                        </div>

                        <div class="col-auto mb-2">
                            <label  for="nombre">Nombre</label><br>
                                <div class="hvr-icon-pulse form-group has-feedback">
                                    <i class="fa-solid fa-signature hvr-icon form-control-feedback"></i>
                                {{form.nombre}}
 
                               
                        </div>
                    
                        <div class="form-group has-feedback col-auto mb-2">
                            <label for="">Apellido</label><br>
                            <div class="hvr-icon-pulse form-group has-feedback">
                                <i class="fa-solid fa-user hvr-icon form-control-feedback"></i>
                                {{form.apellido}}
                                
                            </div>                                        
                        </div>

                        <div class="col-auto mb-2">
                            <label for="fecha-nacimiento">Fecha de nacimiento</label>
                            {{form.fecha_nacimiento}}
                        </div>

                        


                        <div class="col-auto mb-2">
                            <label for="correo">Mail</label><br>
                            <div class="hvr-icon-pulse form-group has-feedback">
                            <i class="fa-regular fa-envelope form-control-feedback hvr-icon"></i>
                            {{form.email}}
                        </div>
                        </div>
                    
                        
                     
                 </fieldset>
                 <div class="col-auto text-center">
                    {% csrf_token %}
                    <input class="btn btn-secondary mb-2" type="reset" name="cancelar" value="CANCELAR" />
                    <input class="btn btn-primary mb-2" type="submit" name="Enviar" value="INGRESAR DATOS" />
                </div>
             </form>
       </div>
     </div> 
   </div>     
</section>
    <script src="{% static 'js/validar.js' %}"></script>
    <br>
{% endblock contenido %}  
